___*
__pycache__
.DS_Store
.git
.github
.idea
*.egg-info
celerybeat-schedule
config.yml
config.*.yml
notifications.yml
notifications.*.yml
schedules.yml
schedules.*.yml
docker-compose.yml
docker-compose.*.yml
node_modules
venv
var