___*
__pycache__
.DS_Store
.env
.*.env
.idea
*.egg-info
celerybeat-schedule
config.yml
notifications.yml
schedules.yml
docker/nginx/certs/*
src-ui/node_modules/
src-ui/build/*
src-ui/dist/*
src-ui/package-lock.json
node_modules
venv
var