<!-- {{ gettext('Font Awesome') }} -->
<script src="{{ static('node_modules/@fortawesome/fontawesome-free/js/all.min.js') }}"></script>
<!-- {{ gettext('jQuery') }} -->
<script src="{{ static('node_modules/jquery/dist/jquery.min.js') }}"></script>
<!-- {{ gettext('jQuery Plugin: Validate') }} -->
<script src="{{ static('node_modules/jquery-validation/dist/jquery.validate.min.js') }}"></script>
<script src="{{ static('node_modules/jquery-validation/dist/additional-methods.min.js') }}"></script>
<!-- {{ gettext('jQuery Plugin: DataTables') }} -->
<script src="{{ static('node_modules/datatables.net/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ static('node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
<script src="{{ static('node_modules/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
<script src="{{ static('node_modules/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js') }}"></script>
<script src="{{ static('node_modules/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
<script src="{{ static('node_modules/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js') }}"></script>
<script src="{{ static('node_modules/datatables.net-buttons/js/buttons.colVis.min.js') }}"></script>
<script src="{{ static('node_modules/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
<script src="{{ static('node_modules/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
<!-- {{ gettext('Bootstrap 4') }} -->
<script src="{{ static('node_modules/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
<!-- {{ gettext('jszip') }} -->
<script src="{{ static('node_modules/jszip/dist/jszip.min.js') }}"></script>
<!-- {{ gettext('pdfmake') }} -->
<script src="{{ static('node_modules/pdfmake/build/pdfmake.min.js') }}"></script>
<script src="{{ static('node_modules/pdfmake/build/vfs_fonts.js') }}"></script>
<!-- {{ gettext('Moment') }} -->
<script src="{{ static('node_modules/moment/min/moment.min.js') }}"></script>
<!-- {{ gettext('Tempus Dominus Bootstrap') }} -->
<script src="{{ static('node_modules/tempusdominus-bootstrap-4/build/js/tempusdominus-bootstrap-4.min.js') }}"></script>
<!-- {{ gettext('AdminLTE App') }} -->
<script src="{{ static('node_modules/admin-lte/dist/js/adminlte.min.js') }}"></script>
<!-- {{ gettext('App Scripts') }} -->
<script src="{{ static('dist/js/app.js') }}"></script>