<!-- {{ gettext('Google Font: Source Sans Pro') }} -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- {{ gettext('Font Awesome') }} -->
<link rel="stylesheet" href="{{ static('node_modules/@fortawesome/fontawesome-free/css/all.min.css') }}">
<!-- {{ gettext('Tempus Dominus Bootstrap') }} -->
<link rel="stylesheet" href="{{ static('node_modules/tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css') }}">
<!-- {{ gettext('Theme Style') }} -->
<link rel="stylesheet" href="{{ static('node_modules/admin-lte/dist/css/adminlte.min.css') }}">
<!-- {{ gettext('Global Layout Styles') }} -->
<link rel="stylesheet" href="{{ static('dist/css/login.css') }}">