<div class="input-group mb-3">
    {% include 'app/forms/widgets/input.jinja2' %}
    <div class="input-group-append">
        <div class="input-group-text">
            <span class="fas fa-id-badge"></span>
        </div>
        <div class="input-group-text">
            <span class="fas fa-envelope"></span>
        </div>
    </div>
</div>