{% extends "web/base.html" %}
{% load static %}
{% block body %}
  <header class="header-2">
  <div class="page-header min-vh-75 relative" style="background-image: url('https://images.unsplash.com/photo-1444033260440-c91ea1bfb5ab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80')">
    <span class="mask bg-gradient-primary opacity-4"></span>
    <div class="container">
      <div class="row">
        <div class="col-lg-7 text-center mx-auto">
          <h1 class="text-white pt-3 mt-n5">{{project_meta.NAME}}</h1>
          <p class="lead text-white mt-3">{{project_meta.DESCRIPTION}}
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock %}
