{% extends 'layouts/user/layout.jinja2' %}
{% block title %}{{ gettext('Account') }}{% endblock %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1><i class="fas fa-user"></i> {{ gettext('Manage Account') }}</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item">
                                <a href="{{ url('dashboard:index') }}"
                                   title="{{ gettext('Dashboard') }}">{{ gettext('Dashboard') }}</a>
                            </li>
                            <li class="breadcrumb-item active">{{ gettext('Account') }}</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- /.content -->
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        {{ callout.screen_size() }}

                        {% if not account.id %}
                            <div class="callout callout-danger">
                                <h5>{{ gettext('Notice!') }}</h5>
                                <p>{{ gettext('You must finish setting up your account before you can access the features of this application.') }}</p>
                            </div>
                        {% endif %}

                        <form id="frmEdit" action="" method="post">
                            {{ csrf_input }}

                            <div class="row">

                                <div class="col-12 col-md-12">
                                    <div class="card card-row card-primary">
                                        <div class="card-header">
                                            <h3 class="card-title">
                                                {{ gettext('Account Information') }}
                                            </h3>
                                            <div class="card-tools">
                                                <button type="button" title="{{ gettext('Cancel') }}"
                                                        class="btn btn-tool btn-cancel"><i
                                                    class="fas fa-xmark"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <!-- /.card-header -->

                                        <div class="card-body">

                                            <div class="form-group">
                                                <label for="txtOrgName">{{ gettext('Organization Name') }}</label>
                                                <input type="text" class="form-control" id="txtOrgName" name="org_name"
                                                       placeholder="{{ gettext('Organization Name') }}"
                                                       value="{{ account.org_name | no_value }}">
                                            </div>
                                            <!-- /.form-group -->

                                            <hr>

                                            <div class="form-group">
                                                <label for="selCountry">{{ gettext('Country') }}</label>
                                                <select class="form-control" id="selCountry"
                                                        name="country">
                                                    <option value="">{{ gettext('Please select a country') }}</option>
                                                    {% for country in countries %}
                                                        <option value="{{ country.pk }}"
                                                                {% if account.country == country %}selected{% endif %}>
                                                            {{ country.name }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <!-- /.form-group -->

                                            <hr>

                                            <div class="form-group">
                                                <label for="selTimezone">{{ gettext('Timezone') }}</label>
                                                <select class="form-control" id="selTimezone"
                                                        name="timezone">
                                                    <option value="">{{ gettext('Please select a timezone') }}</option>
                                                    {% for timezone in timezones %}
                                                        <option value="{{ timezone.pk }}"
                                                                {% if account.timezone == timezone %}selected{% endif %}>
                                                            {{ timezone.name }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <!-- /.form-group -->

                                            <hr>

                                        </div>
                                        <!-- /.card-body -->

                                        <div class="card-footer">
                                            <button type="submit"
                                                    title="{{ gettext('Update Account') }}"
                                                    class="btn btn-primary">{{ gettext('Update Account') }}</button>
                                            <button type="button" title="{{ gettext('Cancel') }}"
                                                    class="btn btn-danger float-right btn-cancel">{{ gettext('Cancel') }}
                                            </button>
                                        </div>
                                        <!-- /.card-footer -->
                                    </div>
                                    <!-- /.card -->
                                </div>
                                <!-- /.col -->

                            </div>
                        </form>
                        <!-- /form -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->

            </div><!-- /.container-fluid -->
        </section>
    </div>
    <!-- /.content-wrapper -->
{% endblock %}

{% block footer_scripts %}
    <script type="text/javascript">
        let baseURI = '/account'
        let btnCancel = null
        let btnAdd = null
        let btnEdit = null
        let btnDelete = null
        let frmEdit = null

        let onBtnCancelClick = function (e) {
            window.location = '/'
        }

        let setupListeners = function () {
            btnCancel.bind('click', onBtnCancelClick)
        }

        let setupValidation = function () {
            frmEdit.validate({
                rules: {
                    org_name: {
                        required: true,
                        minlength: 3,
                        maxlength: 30,
                    },
                },
                errorPlacement: validateErrorPlacement,
            })
        }

        $(function () {
            btnCancel = $('.btn-cancel')
            frmEdit = $('#frmEdit')
            setupListeners()
            setupValidation()
        })
    </script>
{% endblock %}