<p>{{ gettext('You\'re receiving this email because you requested a password reset for your user account at ' + site_name + '.') }}</p>

<p>{{ gettext('Please go to the following page and choose a new password:') }}</p>
<p>
    <a href="{{ protocol }}://{{ domain }}{{ url('account:password_reset_confirm', args=[uid, token]) }}">{{ protocol }}://{{ domain }}{{ url('account:password_reset_confirm', args=[uid, token]) }}</a>
</p>

<p>{{ gettext('Your username, in case you’ve forgotten:') }} {{ user.get_username }}</p>

<p>{{ gettext('Thanks for using our site!') }}</p>

<p>{{ gettext('The ' + site_name + ' team') }}</p>