{% extends 'layouts/login/layout.jinja2' %}
{% block title %}{{ gettext('Password Reset') }}{% endblock %}

{% block content %}
    <!-- Login Box -->
    <div class="login-box">

        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="https://pda.com" target="_blank" class="h1">{{ gettext('<b>PowerDNS</b>Admin') }}</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">{{ gettext('We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.') }}</p>
                <p class="login-box-msg">{{ gettext('If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.') }}</p>
                <p class="mb-1">
                    <a href="{{ url('account:login') }}">{{ gettext('I suddenly remember my password') }}</a>
                </p>
                <p class="mb-0">
                    <a href="{{ url('account:register') }}" class="text-center">{{ gettext('Register a new account') }}</a>
                </p>
            </div>

        </div>

    </div>
    <!-- /.login-box -->
{% endblock %}