{% extends 'layouts/user/layout.jinja2' %}
{% block title %}{{ gettext('Change Account Password') }}{% endblock %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1><i class="fas fa-user"></i> {{ gettext('Manage Account') }}</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item">
                                <a href="{{ url('dashboard:index') }}"
                                   title="{{ gettext('Dashboard') }}">{{ gettext('Dashboard') }}</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{{ url('account:index') }}"
                                   title="{{ gettext('Account') }}">{{ gettext('Account') }}</a>
                            </li>
                            <li class="breadcrumb-item active">{{ gettext('Change Password') }}</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- /.content -->
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        {{ callout.screen_size() }}

                        <form action="" method="post">
                            {{ csrf_input }}

                            <div class="row">

                                <div class="col-12 col-md-12">
                                    <div class="card card-row card-primary">
                                        <div class="card-header">
                                            <h3 class="card-title">
                                                {{ gettext('Change Account Password') }}
                                            </h3>
                                            <div class="card-tools">
                                                <button type="button" title="{{ gettext('Cancel') }}"
                                                        class="btn btn-tool btn-cancel"><i
                                                    class="fas fa-xmark"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <!-- /.card-header -->

                                        <div class="card-body">
                                            <div class="callout callout-warning">
                                                <p>{{ gettext('Please enter your current password to verify your identity.') }}</p>
                                            </div>

                                            <div class="input-group mb-3">
                                                <input type="password" class="form-control"
                                                       placeholder="{{ gettext('Current Password') }}" required
                                                       autocomplete="off" name="old_password"
                                                       value="{{ form.old_password.data | no_value }}">
                                                <div class="input-group-append">
                                                    <div class="input-group-text">
                                                        <span class="fas fa-lock"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            {{ callout.form_errors(form, 'old_password') }}

                                            <hr>

                                            <div class="callout callout-success">
                                                <p>{{ gettext('Please enter the new password you would like to use.') }}</p>
                                            </div>

                                            <div class="input-group mb-3">
                                                <input type="password" class="form-control"
                                                       placeholder="{{ gettext('New Password') }}" required
                                                       autocomplete="off" name="new_password1"
                                                       value="{{ form.new_password1.data | no_value }}">
                                                <div class="input-group-append">
                                                    <div class="input-group-text">
                                                        <span class="fas fa-lock"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            {{ callout.form_errors(form, 'new_password1') }}
                                            <div class="input-group mb-3">
                                                <input type="password" class="form-control"
                                                       placeholder="{{ gettext('Confirm New Password') }}" required
                                                       autocomplete="off" name="new_password2"
                                                       value="{{ form.new_password2.data | no_value }}">
                                                <div class="input-group-append">
                                                    <div class="input-group-text">
                                                        <span class="fas fa-lock"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            {{ callout.form_errors(form, 'new_password2') }}
                                            {{ callout.form_errors(form) }}
                                        </div>
                                        <!-- /.card-body -->

                                        <div class="card-footer">
                                            <button type="submit"
                                                    title="{{ gettext('Change Password') }}"
                                                    class="btn btn-primary">{{ gettext('Change Password') }}</button>
                                            <button type="button" title="{{ gettext('Cancel') }}"
                                                    class="btn btn-danger float-right btn-cancel">{{ gettext('Cancel') }}
                                            </button>
                                        </div>
                                        <!-- /.card-footer -->
                                    </div>
                                    <!-- /.card -->
                                </div>
                                <!-- /.col -->

                            </div>
                        </form>
                        <!-- /form -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->

            </div><!-- /.container-fluid -->
        </section>
    </div>
    <!-- /.content-wrapper -->
{% endblock %}
