{% extends 'layouts/login/layout.jinja2' %}
{% block title %}{{ gettext('Register') }}{% endblock %}

{% block content %}
    <!-- Login Box -->
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="https://pda.com" target="_blank" class="h1">{{ gettext('<b>PowerDNS</b>Admin') }}</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">{{ gettext('Register a new account') }}</p>
                {{ callout.form_errors(form) }}
                <form action="" method="post" class="mb-2">
                    {{ csrf_input }}
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="{{ gettext('First / Given Name') }}" name="first_name"
                        required autofocus autocapitalize="words">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="{{ gettext('Last / Family Name') }}" name="last_name"
                        required autofocus autocapitalize="words">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="{{ gettext('Email') }}" name="email" required
                        autocomplete="on" autocapitalize="none">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="{{ gettext('Username') }}" name="username" required
                        autocomplete="on" autocapitalize="none">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-id-badge"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="{{ gettext('Password') }}" name="password1" required
                        autocomplete="on" autocapitalize="none">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="{{ gettext('Confirm Password') }}" required
                               name="password2" autocomplete="off" autocapitalize="none">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                                <label for="agreeTerms">
                                    {{ gettext('I agree to the') }} <a href="/terms-of-use" target="_blank" title="{{ gettext('Terms of Use') }}">{{ gettext('Terms of Use') }}</a>.
                                </label>
                            </div>
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block" title="{{ gettext('Register Account') }}">{{ gettext('Register') }}</button>
                        </div>
                    </div>
                </form>
                <a href="{{ url('account:login') }}" class="text-center" title="{{ gettext('Login') }}">{{ gettext('I already have an account') }}</a>
            </div>
        </div>
    </div>
    <!-- /.login-box -->
{% endblock %}