{% extends 'layouts/login/layout.jinja2' %}
{% block title %}{{ gettext('Register') }}{% endblock %}

{% block content %}
    <!-- Login Box -->
    <div class="login-box">
        <div class="card card-outline card-primary">
            {{ layout_callout.login_card_header() }}
            <div class="card-body">
                <p class="login-box-msg">{{ gettext('Register a new user profile') }}</p>
                <form action="" method="post" class="mb-2">
                    {{ csrf_input }}

                    {{ form.first_name }}
                    {{ callout.form_errors(form, 'first_name') }}

                    {{ form.last_name }}
                    {{ callout.form_errors(form, 'last_name') }}

                    {{ form.email }}
                    {{ callout.form_errors(form, 'email') }}

                    {{ form.username }}
                    {{ callout.form_errors(form, 'userrname') }}

                    {{ form.password1 }}
                    {{ callout.form_errors(form, 'password1') }}

                    {{ form.password2 }}
                    {{ callout.form_errors(form, 'password2') }}

                    <div class="row">
                        <div class="col-12">
                            {{ form.terms }}
                            {{ callout.form_errors(form, 'terms') }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">{{ callout.form_errors(form) }}</div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block" title="{{ gettext('Register User') }}">{{ gettext('Register') }}</button>
                        </div>
                    </div>

                </form>
                <p class="mb-1">
                    <a href="{{ url('user:login') }}" class="btn btn-link btn-block" title="{{ gettext('Login') }}">{{ gettext('I already have an user') }}</a>
                </p>
                <p class="mb-0">
                    <a href="{{ url('user:password.reset') }}" class="btn btn-link btn-block" title="{{ gettext('Reset Password') }}">{{ gettext('Forgot password?') }}</a>
                </p>
            </div>
        </div>
    </div>
    <!-- /.login-box -->
{% endblock %}