{% extends 'layouts/login/layout.jinja2' %}
{% block title %}{{ gettext('Password Reset Complete') }}{% endblock %}

{% block content %}
    <!-- Login Box -->
    <div class="login-box">

        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="https://powerdnsadmin.org" target="_blank" class="h1">{{ gettext('<b>PowerDNS</b>Admin') }}</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">{{ gettext('Your password has been successfully reset.') }}</p>
                <p class="login-box-msg">{{ gettext('You may now login with your new password.') }}</p>
                <p class="mb-1">
                    <a href="{{ url('user:login') }}" class="btn btn-link btn-block" title="{{ gettext('Login') }}">{{ gettext('Login') }}</a>
                </p>
            </div>

        </div>

    </div>
    <!-- /.login-box -->
{% endblock %}