{% set url = protocol + '://' + domain + url('user:password_reset_confirm', args=[uid, token]) %}
{{ gettext('Hi ') + user.first_name }},

{{ gettext('You\'re receiving this email because someone requested a password reset for your user at ' + site_name + '.') }}


{{ gettext('If this was not you, then you can ignore this email but take precaution.') }}


{{ gettext('If you did request this action, please navigate to the following page to choose a new password:') }}
{{ url }}

{{ gettext('Your username, in case you’ve forgotten:') }} {{ user.get_username() }}


{{ gettext('Thanks for using our service!') }}
{{ gettext('The ' + site_name + ' Team') }}