{% extends 'layouts/login/layout.jinja2' %}
{% block title %}{{ gettext('Password Reset') }}{% endblock %}

{% block content %}
    <!-- Login Box -->
    <div class="login-box">

        <div class="card card-outline card-primary">
            {{ layout_callout.login_card_header() }}
            <div class="card-body">
                <p class="login-box-msg">{{ gettext('Please provide the username or an email address associated with your user profile.') }}</p>
                <form action="" method="post" class="mb-2">
                    {{ csrf_input }}
                    {{ form.username }}
                    {{ callout.form_errors(form, 'username') }}
                    {{ callout.form_errors(form) }}
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block" title="{{ gettext('Send Password Reset Link') }}">{{ gettext('Send Password Reset Link') }}</button>
                        </div>
                    </div>
                </form>
                <p class="mb-1">
                    <a href="{{ url('user:login') }}" class="btn btn-link btn-block" title="{{ gettext('Login') }}">{{ gettext('I suddenly remember my password') }}</a>
                </p>
                <p class="mb-0">
                    <a href="{{ url('user:register') }}" class="btn btn-link btn-block" title="{{ gettext('Register new user') }}">{{ gettext('Register a new user') }}</a>
                </p>
            </div>

        </div>

    </div>
    <!-- /.login-box -->
{% endblock %}