{% extends 'layouts/login/layout.jinja2' %}
{% block title %}{{ gettext('Password Reset') }}{% endblock %}

{% block content %}
    <!-- Login Box -->
    <div class="login-box">

        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="https://powerdnsadmin.org" target="_blank" class="h1">{{ gettext('<b>PowerDNS</b>Admin') }}</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">{{ gettext('If the username or email address that you have provided can be found, then an email will be sent to you with instructions for choosing a new password.') }}</p>
                <p class="login-box-msg">{{ gettext('If you don’t receive an email, please make sure you’ve entered the username or an email address associated with your profile, and check your spam folder.') }}</p>
                <p class="mb-1">
                    <a href="{{ url('user:login') }}" class="btn btn-link btn-block" title="{{ gettext('Login') }}">{{ gettext('I suddenly remember my password') }}</a>
                </p>
                <p class="mb-0">
                    <a href="{{ url('user:register') }}" class="btn btn-link btn-block" title="{{ gettext('Register a new user') }}">{{ gettext('Register a new user') }}</a>
                </p>
            </div>

        </div>

    </div>
    <!-- /.login-box -->
{% endblock %}