{% if config.web.protocol == 'http' and config.web.port == 80 or config.web.protocol == 'https' and config.web.port == 443 %}
{% set url = config.web.url + url('user:password_reset_confirm', args=[uid, token]) %}
{% else %}
{% set url = config.web.url_with_port + url('user:password_reset_confirm', args=[uid, token]) %}
{% endif %}
{{ gettext('Hi ') + user.first_name }},

{{ gettext('You\'re receiving this email because someone requested a password reset for your user at ' + config.web.name + '.') }}


{{ gettext('If this was not you, then you can ignore this email but take precaution.') }}


{{ gettext('If you did request this action, please navigate to the following page to choose a new password:') }}
{{ url }}

{{ gettext('Your username, in case you’ve forgotten:') }} {{ user.get_username() }}


{{ gettext('Thanks for using our service!') }}
{{ gettext('The ' + config.web.name + ' Team') }}