{% load i18n %}
{% load form_tags %}
<div class="pg-columns">
  <div id="profile-picture" class="pg-column-one-quarter">
    <div class="pg-text-centered">
      <img class="avatar" src="{{ user.avatar_url }}">
      <div id='profile-upload-holder'>
        <label for="profile-upload" >
          <a id="profile-upload-label" class="pg-button-light">
            {% translate "Change Picture" %}
          </a>
        </label>
        <input id="profile-upload" type="file" accept="image/*"/>
      </div>
    </div>
  </div>
  <div class="pg-column">
    <h2 class="pg-subtitle">{% translate "My Details" %}</h2>
    <form method="post">
      {% csrf_token %}
      {% render_text_input form.email %}
      {% render_text_input form.first_name %}
      {% render_text_input form.last_name %}
      {% if form.fields.language.choices %}
        {% render_select_input form.language %}
      {% endif %}
      <div class="mt-2">
        <input class="pg-button-primary" type="submit" value="{% translate "Save" %}">
      </div>
    </form>
  </div>
</div>
