.idea
*.pyc
*~
db.sqlite3
.sass-cache/
pdns_admin/localsettings.py
pdns_admin/local.py
static_root/
openapitools.json
media/
docs/_build
_dist/
.env
.env.docker
.env.production
.DS_Store

# uncomment these lines after setting up the front-end build pipeline in dev and production
# static/css/
# static/js/
