{% extends "web/app/app_base.html" %}
{% load static %}
{% load i18n %}
{% block app %}
<section class="app-card">
  <h1 class="pg-title">Sign out</h1>
  <p class="pg-subtitle">{% translate 'Are you sure you want to sign out?' %}</p>
  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <div class="field is-grouped">
      <div class="control">
        <input class="pg-button-primary" type="submit" value="{% translate 'Sign Out' %}">
        <a class="pg-button-secondary" href="{% url 'web:home' %}">
          <span class="pg-icon">
            <i class="fa fa-home"></i>
          </span>
          <span>{% translate "Home" %}</span>
        </a>
      </div>
    </div>
  </form>
</section>
{% endblock %}
