{% extends "account/base.html" %}
{% load i18n %}
{% block content %}
    <h1 class="pg-title">{% translate "Change Password" %}</h1>
    <div class="pg-content">
        <p>
            {% blocktranslate %}
            Your password has been changed.
            {% endblocktranslate %}
        </p>
        <p>
            {% url 'account_login' as login_url %}
            {% blocktranslate %}
            You can now <a href="{{ login_url }}">login</a> with your new password.
            {% endblocktranslate %}
        </p>
    </div>
{% endblock %}
