Django
django-allauth
django-allauth-2fa
django-waffle
psycopg2-binary
django-environ
djangorestframework
djangorestframework-api-key
drf-spectacular
django-anymail[mailgun]  # email services
celery-progress
celery
celery[redis]
sentry-sdk
dnspython
bcrypt
netaddr
python-dateutil


