{% extends 'layouts/login/layout.jinja2' %}
{% block title %}{{ gettext('Login') }}{% endblock %}

{% block content %}
    <!-- Login Box -->
    <div class="login-box">
        <div class="card card-outline card-primary">
            {{ layout_callout.login_card_header() }}
            <div class="card-body">
                <p class="login-box-msg">{{ gettext('Sign in to your user profile') }}</p>
                <form action="?next=/" method="post" class="mb-2">
                    {{ csrf_input }}
                    {{ form.username }}
                    {{ callout.form_errors(form, 'username') }}
                    {{ form.password }}
                    {{ callout.form_errors(form, 'password') }}
                    {{ callout.form_errors(form) }}

                    <div class="row">
                        <div class="col-8"></div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block"
                                    title="{{ gettext('Login') }}">{{ gettext('Login') }}</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <p class="mb-1">
                                <a href="{{ url('user:password.reset') }}" class="btn btn-link btn-block"
                                   title="{{ gettext('Reset Password') }}">{{ gettext('Forgot password?') }}</a>
                            </p>
                            <p class="mb-0">
                                <a href="{{ url('user:register') }}" class="btn btn-link btn-block"
                                   title="{{ gettext('Register new user') }}">{{ gettext('Register a new user') }}</a>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /.login-box -->
{% endblock %}