{% extends 'layouts/login/layout.jinja2' %}
{% block title %}{{ gettext('Logout') }}{% endblock %}

{% block content %}
    <!-- Login Box -->
    <div class="login-box">
        <div class="card card-outline card-primary">
            {{ layout_callout.login_card_header() }}
            <div class="card-body">
                <p class="login-box-msg">{{ gettext('You have been logged out of the tool.') }}</p>
                <p class="mb-1">
                    <a href="{{ url('user:login') }}" title="{{ gettext('Login') }}"
                    class="btn btn-link btn-block">{{ gettext('Login Again') }}</a>
                </p>
            </div>
        </div>
    </div>
    <!-- /.login-box -->
{% endblock %}